{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/comment.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}

{% block body %}


<div class="container_review">
    <div class="info_doctor">
        <div class="name_doctor">
            <p class="doctor_name"></p>
            <p class="doctor_prof"></p>
        </div>
        <div class="img_doctor" id="review_doc_logo">
            <img src="" alt="logo_doctor" class="logo_doctor">
        </div>
        <div class="text_doctor">
                <p class = "doctor_text" >Healthcare Medical Center Prize - 2010 year<br/><br/>
                    William Allan Award - 2012 year<br/><br/>
                    AMA Scientific Achievement Award - 2008 year<br/><br/>
                    APUA Leadership Award - 2017 year</p>
        </div>
    </div>
    <div class="reviews_block">
        <div class="comments_block">
            <h1 class="comment_block">Reviews about this doctor</h1>
            {% for comment in comments %}
                <div class='wrapper_comment'>
                    <div class="comment_text">
                        {{ comment.text }}
                    </div>
                    <div class="comment_by_name">
                        Comment was created 
                    </div>
                    <div class="comment_date">
                        At {{ comment.createdAt|date('Y-m-d H:i:s') }}
                    </div>
                </div>
            {% endfor %}

            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="need_auth">
                    <span>To comment you need authorizate</span>
                    <a href="/login" >Go to Login</a>
                </div>
            {% else %}
                <div class="post_comment">
                    {{ form(form) }}
                </div>
            {% endif %}
            <div class="navigation text-center">
                {{ knp_pagination_render(comments) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
    <script src="../../js/comments.js"></script> 
{% endblock %}