@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;  
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container_review{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #e9eaed;
}

.info_doctor{
    width: 40%;
    height: 95%;
    display: flex;
    flex-direction: column;
    min-height: 96.5vh;
    align-items: center;
    margin: 10px 0 10px 10px;
    background: #f6f7f8;
    border-radius: 3px;
}

.doctor_text{
    font-family: roboto, sans-serif;
    margin-top: 25px;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
}

.doctor_name{
    font-family: roboto, sans-serif;
    color: #555;
    font-weight: 300;
    font-size: 38px;
    margin-bottom: 0;
}


.info_doctor .img_doctor {
    width: 90%;
}

.img_doctor img{
    width: 100%;
}

.reviews_block{
    height: 100%;
    width: 100%;
    display: block;
    margin: 10px;
}

.desc_doctor{
    width: 100%;
    min-height: 300px;
    background: #ffffff;
    border-radius: 4px;
    /* display: block; */
    position: relative;
}

.desc_doctor h1{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.awards_of_doctor{
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid gray;
}

.awards_of_doctor ul{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    line-height: 1.8em;
    margin: 10px 20px;
}

.comments_block{
    width: 100%;
    min-height: 94vh;
    margin-top: 0px;
    background: #fff;
    border-radius: 4px;
    padding: 10px 0;
}

.wrapper_comment {
    display: flex;
    width: auto;
    position: relative;
    align-items: center;
    height: auto;
    min-height: 70px;
    margin-bottom: 10px;
    box-shadow: 
        0px 11px 8px -10px #CCC,
        0px -11px 8px -10px #CCC;   

}

.comment_by_name {
    position: absolute;
    right: 15px;
    bottom: 30px;
    font-weight: bold;
}

.comment_date {
    position: absolute;
    right: 15px;
    bottom: 6px;
    font-weight: bold;
}

.wrapper_comment .comment_text {
    position: absolute;
    left: 3%;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.need_auth {
    font-size: 30px;
    color: red;
    margin: 30px 0px;
    width: 100%;
    min-height: 40px;
    height: auto;
    position: relative;
    font-family: roboto, sans-serif;
    font-weight: 300;
}

.need_auth span {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.need_auth a {
    position: absolute;
    right: 5%;
    bottom: 0;
}

.comments_block h1{
    font-weight: 100;
    text-align: center;
    position: relative;
}

.comment_block{
    font-size: 42px;
    color: #555;
}

.post_comment {
    width: 100%;
    height: auto;
    min-height: 70px;
    margin: 15px 0;
    position: relative;
}

div#comment .form-group input {
    height: 50px;
    min-width: 83%;
    width: auto;
    position: absolute;
    bottom: 10%;
    left: 3%;
    font-size: 30px;
    padding-left: 10px;
    border-radius: 5px;
}

div#comment .form-group button {
    font-family: roboto;
    right: 2%;
    position: absolute;
    height: 50px;
    font-size: 20px;
    width: 10%;
    bottom: 10%;
    background: rgb(0, 123, 255);
    color: white;
    border-radius: 5px;
}

div#comment .form-group label{
    display: none;
}

p.doctor_prof {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 22px;
    font-family: roboto, sans-serif;
    font-weight: 100;
    font-size: 24px;
}

.navigation{
    text-align: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}